footer: .row
  .column.medium-6
    a.left(href="#"): img.logo.left(src="img/logo-text.png")
  .column.medium-6
    ul.right.text-right.inline-list._social
      li: a(href="https://www.facebook.com/claudetech"): i.icon-facebook
      li: a(href="https://twitter.com/Claude_Tech"): i.icon-twitter
      li: a(href="https://github.com/claudetech/"): i.icon-github
      //- li: a(href="http://blog.claudetech.com/rss"): i.icon-rss
