header
  a.left(href="index.html")
    img.logo.img.left(src="img/logo-img.png")
    img.logo.text.left(src="img/logo-text.png")
  nav: ul.right.text-right.inline-list._menu
    li: a(href="service.html") Services
    li: a(href="company.html") Company
    li: a(href="contact.html") Contact
    li: a(href="#"): i.icon-globe
    
