header
  a.left(data-attr-t href-t="misc.root")
    img.logo.img.left(src="img/logo-img.png")
    img.logo.text.left(src="img/logo-text.png")
  nav: ul.right.text-right._menu
    li
      if dev
        a.decorated.show-for-large-up(href="index.html" data-t) misc.home
      else
        a.decorated.show-for-large-up(data-attr-t href-t="misc.root" data-t) misc.home
    li: a.decorated(href= dev ? "services.html" : "services" data-t) services.label
    li: a.decorated(href= dev ? "company.html" : "company" data-t) company.label
    li: a.decorated(href= dev ? "contact.html" : "contact" data-t) contact.label
    li.dropdown
      i.icon-globe 
      ul
        li: a.text-right(href="/") 日本語
        li: a.text-right(href="/en/") English
