.content.about
  h1 会社概要
  table
    tr
      td 社名
      td.
        クロードテック株式会社<br>ClaudeTech. Inc.
    tr
      td 本社
      td.
        〒114-0013<br>
        東京都北区東田端 2-3-1 第一アサカビル2階
    tr
      td 代表者
      td 代表取締役社長　曽根岡 侑也
    tr
      td 設立
      td 2014年8月26日
    tr
      td 資本金
      td 300万円
    tr
      td 事業内容
      td ソフトウェア開発

