.content.about
  h1 会社概要
  table
    tr
      td 社名
      td.
        クロードテック株式会社<br>ClaudeTech. Inc.
    tr
      td 本社
      td.
        〒114-0013<br>
        東京都北区東田端 2-3-1 第一アサカビル2階
    tr
      td 代表者
      td 代表取締役社長　曽根岡 侑也
    tr
      td 設立
      td 2014年8月26日
    tr
      td 資本金
      td 300万円
    tr
      td 事業内容
      td ソフトウェア開発

  h1 アクセス
  p 〒114-0013<br>東京都北区東田端2-3-1　第一アサカビル２階

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3238.4487923526685!2d139.7609871438636!3d35.739772458632096!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188de84130659b%3A0xe3b1f61c726e38f4!2z44CSMTE0LTAwMTMg5p2x5Lqs6YO95YyX5Yy65p2x55Sw56uv77yS5LiB55uu77yTIOesrOS4gOOCouOCteOCq-ODk-ODqw!5e0!3m2!1sja!2sjp!4v1406543355362" width="85%" height="450" frameborder="0" style="border:0"></iframe>

  h1 チーム
  .member
    img.picture(src='http://res.cloudinary.com/hp9hvum2c/image/upload/c_crop,h_426,w_852,x_0,y_224/a_270/v1403963322/sone.jpg')
    .name 曽根岡 侑也
    .email soneoka@claudetech.com
    .bio.
      麻布高校、東京大学工学部システム創成卒業。 
      データマイニングの研究室に所属し、リクルートと共同研究しています。

  .member
    img.picture(src='http://res.cloudinary.com/hp9hvum2c/image/upload/v1408612008/daniel3.jpg')
    .name Perez Daniel
    .email daniel@claudetech.com
    .bio.
      ダニエルです。フランス生まれ育ちで、日本に住んでいる情報系の学生です。 
      プログラミング全般が大好きで、ウェブプログラミングでもLinuxのカーネル辺りの開発でも何でも楽しくやってます。

  .member
    img.picture(src='http://res.cloudinary.com/hp9hvum2c/image/upload/c_crop,h_490,w_245/v1408611118/naito_cnjz2d.jpg')
    .name ナイトウ タカオ
    .email naito@claudetech.com
    .bio.
      エストニアのタリン工科大学修士課程在学中。<br>食べ物の好き嫌いはあまりありませんが和食のほうが好きです。飲み物の好き嫌いは多少あって、果物から作ったお酒全般が苦手です。
        
