.content.access
  h1(data-t) title.access
  p(data-t) about.address.value

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3238.4487923526685!2d139.7609871438636!3d35.739772458632096!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188de84130659b%3A0xe3b1f61c726e38f4!2z44CSMTE0LTAwMTMg5p2x5Lqs6YO95YyX5Yy65p2x55Sw56uv77yS5LiB55uu77yTIOesrOS4gOOCouOCteOCq-ODk-ODqw!5e0!3m2!1sja!2sjp!4v1406543355362" width="85%" height="450" frameborder="0" style="border:0"></iframe>

  p(data-t) address.station