.content.contact
  h1(data-t) title.contact
  p(data-t) contact.subtitle

  form#contact-form
    .field.name
      label(for="name" data-t) contact.name
      input#name(type="text" name="name" v-model="form.name" v-if="!submitted()")
      p(v-if="submitted()") {{form.name}}


    .field.email
      label(for="email" data-t) contact.email
      input#email(type="email" name="email" v-model="form.email" v-if="!submitted()")
      p(v-if="submitted()") {{form.email}}

    .field.body
      label(for="body" data-t) contact.content
      textarea#body(name="body" v-model="form.body" v-if="!submitted()")
      p(v-if="submitted()") {{form.body}}

  .button
    button#send(type="sumbit" v-if="!submitted()" v-on="click: submit()" data-t) contact.submit
    each status in ['inProgress', 'done', 'failed']
      span(data-t v-if="status == '" + status + "'")= "contact.status." + status
