.header
  a(href="/"): img.logo(src="img/logo.svg")

  img.slogan(src="img/slogan.svg")

  ul.menu
    li.item: a(href="#news") ニュース
    li.item: a(href="#about") 会社概要
    li.item: a(href="#service") サービス
    li.item: a(href="#access") アクセス
    li.item: a(href="#contact") お問い合わせ

