.header
  a(href="/"): img.logo(src="img/logo.svg")

  img.slogan(src="img/slogan.svg")

  ul.menu
    li.item: a(href="#news" v-on="click: open('news')" data-t) title.news
    li.item: a(href="#about" v-on="click: open('about')" data-t) title.about
    li.item: a(href="#service" v-on="click: open('service')" data-t) title.service
    li.item: a(href="#access" v-on="click: open('access')" data-t) title.access
    li.item: a(href="#contact" v-on="click: open('contact')" data-t) title.contact

  #terminal
