.content.news
  h1 ニュース
  p ニュースがここに書かれます....
  p 代数的整数論の基本問題は、代数体の記述である。ガロア(Évariste Galois)の仕事は、ある群、ガロア群(Galois group)により体の拡大が制御されることを明らかにしたことである。既に理解されている場合である単純な状況は、ガロア群が可換（アーベル的）な場合である。二次多項式の根を結びつけて得られるすべての二次拡大はアーベル的であり、それらの研究はガウス(Carl Friedrich Gauss)によりなされた。有理数体 Q のアーベル拡大の他のタイプは、円分体の結果により n-番目の 1のべき根を組み合わせて得ることができる。既にガウスが示していたことであるが、実際、すべての二次体はより大きな円分体に含まれる。クロネッカー・ウェーバーの定理は、Q の任意の有限アーベル拡大は円分体に含まれることである。クロネッカー（とヒルベルト）の問題は、より一般的な代数体 K では、K のすべてのアーベル拡大を構成することに必要な代数的数は何か？を問うている。この疑問への完全な回答は、K が虚二次体のとき、もしくはその一般化であるCM体(CM-field)のときのみ解けている。
