.content.news
  h1(data-t) title.news
  each news in t('news')
    p
      span= news.date
      span= news.message
  //- p(data-t) news.mito-selection
  //- p(data-t) news.coocreed
  //- p(data-t) news.ut-paper 
  //- p(data-t) news.founded
  //- p(data-t) news.leaves-
