- events = ['coocreed_release', 'mito', 'coocred_news', 'founded', 'leaves_release', 'hackers_league', 'voisee_release', 'mito_presen']

.content.news
  h1(data-t) title.news
  each news in events
    p
      span.date(data-t="news.#{news}.date")
      span.message(data-t="news.#{news}.message")
      | (<a class="link" data-t data-attr-t href-t="news.#{news}.url" target="_blank">misc.link</a>)
