- events = ['coocreed_release', 'mito', 'coocred_news', 'founded', 'leaves_release', 'hackers_league', 'juken_sapuri', 'voisee_release', 'mito_presen']

.content.news
  h1(data-t) title.news
  table.news
    each news in events
      tr
        td.date(data-t="news.#{news}.date")
        td.message
          a(data-t data-attr-t href-t="news.#{news}.url" target="_blank") news.#{news}.message
