.content.service
  h1 サービス
  ul.services
    li.service
      h3.title CooCreed
      .url: a(href="http://coocreed.jp" target="_blank") http://coocreed.jp
      .text.
        「現在の大学教育は学生のニーズとかけ離れている」<br>
          ･･･そう思ったことはありませんか？
          我々はWeb上で大学の問題点を集め、
          賛同が得られているものから大学にかけあうことで、
          学生主導で教育・設備・サービスを変えていきます。

    li.service
      h3.title Leaves
      .url: a(href="http://oss.claudetech.com/leaves" target="_blank") http://oss.claudetech.com/leaves
      .text.
        NodeJSで実装された静的サイトジェネレータです。
        強力なテンプレートエンジンやCSSライブラリを使用しており、
        迅速なサイト制作をサポートします。
