.content.service
  h1(data-t) title.service
  ul.services
    each service in ['coocreed', 'leaves']
      li.service
        h3.title(data-t) service.#{service}.title
        .url: a(data-t data-attr-t href-t="service.#{service}.url" target="_blank") service.#{service}.url
        .text(data-t) service.#{service}.description
