.content.service
  h1 サービス
  p 我々が作ったステキなものを紹介しましょう。
  p クロネッカー・ウェーバーの定理が言っている注目すべきことのひとつに、指数函数の特殊値 exp(2πi/n) を結合して使うことで Q の絶対アーベル拡大を得ることができるということがある。同様に、虚数乗法(complex multiplication)は、τ を虚二次体の無理数であれば Q(τ) の最大アーベル拡大が、モジュラ函数 j (τ) と ℘ (τ,z) の特殊値と 1のべき根を合わせて使うことで得ることができる。ここに τ は虚二次体の元であり、z は対応する楕円曲線の捩れ点を表す。ヒルベルトの第12番目の問題の解釈の一つとして、適当な指数函数や楕円函数、モジュラ函数の類似をとってきて、その特殊値が一般的な数体 K の最大アーベル拡大 Kab を生成することが可能かどうかを問うている。この形の一般化された問題に対しては、未解決である。絶対アーベル拡大体 Kab の記述は類体論によって得られる。類体論はダヴィット・ヒルベルト(David Hilbert)自身と、エミル・アルティン（英語版）(Emil Artin)と20世紀前半の他の人々により開拓された[note 1]。しかしながら、類体論の中で Kab を具体的に構成することは、最初にクンマー理論(Kummer theory)を使いより大きな非アーベル拡大を構成し、それからアーベル拡大へ落とし込むことでなされるので、従ってアーベル拡大のより具体的な構成方法を問うているヒルベルトの問題の解には至っていない。
