.content.service
  h1(data-t) title.service
  ul.services
    li.service
      h3.title CooCREED
      .url: a(href="http://coocreed.jp" target="_blank") http://coocreed.jp
      .text(data-t) service.coocreed

    li.service
      h3.title Leaves
      .url: a(href="http://oss.claudetech.com/leaves" target="_blank") http://oss.claudetech.com/leaves
      .text(data-t) service.leaves
