.content.team
  h1 チーム
  .member
    img.picture(src='http://res.cloudinary.com/hp9hvum2c/image/upload/c_fill,h_240,w_240/a_270/v1403963322/sone.jpg')
    .name 曽根岡 侑也
    .bio.
      麻布高校、東京大学工学部システム創成卒業。 
      データマイニングの研究室に所属し、リクルートと共同研究しています。

  .member
    img.picture(src='http://res.cloudinary.com/hp9hvum2c/image/upload/c_fill,g_face,h_240,w_240/v1399704505/daniel.jpg')
    .name Perez Daniel
    .bio.
      ダニエルです。フランス生まれ育ちで、日本に住んでいる情報系の学生です。 
      プログラミング全般が大好きで、ウェブプログラミングでもLinuxのカーネル辺りの開発でも何でも楽しくやってます。言語はPythonが一番好きで、あとはHaskellとか関数型言語辺りもかなり楽しいです。 
      気軽に僕のGithubを見たり、Facebookで追加したり、Twitterでフォローしたりしてください。

  .member
    img.picture(src='http://res.cloudinary.com/hp9hvum2c/image/upload/c_fill,h_240,w_240/v1399669030/naito.jpg')
    .name 内藤 剛生
    .bio.
      エストニアのタリン工科大学修士課程在学中。タリン市在住。デザイナーか、エンジニアか、なんだかぼんやりしたよくわからない立ち位置です。食べ物の好き嫌いはあまりありませんが和食のほうが好きです。飲み物の好き嫌いは多少あって、果物から作ったお酒全般が苦手です。
        
