extends ./layout.jade

block content
  include partials/_header
  
  main
    ._head: .column.small-12.text-center
      h1 Contact
      
    .row: .column.medium-12.medium-centered
      p.text-center.intro Feel free to contact us if you need any extra information.
      
    ._contact: form
      .row: label.column.small-8.small-centered
        | Name
        input(type="text")
      .row: label.column.small-8.small-centered
        | Email
        input(type="email")
      .row: label.column.small-8.small-centered
        | Body
        textarea
      .row.text-center: input.button.info.small.radius(type="submit")

        
  include partials/_footer
