extends ./layout.jade

block content
  .header
    img.logo(src="img/logo.svg")

    img.slogan(src="img/slogan.svg")

    ul.menu
      li.item: a(href="#") ニュース
      li.item: a(href="#") 会社概要
      li.item: a(href="#") サービス
      li.item: a(href="#") チーム
      li.item: a(href="#") アクセス
      li.item: a(href="#") お問い合わせ

  .content
    h1 ニュース
    p ニュースがここに書かれます....

