doctype html
html(class-t="lang" data-attr-t)
  head    
    include partials/_head-tag  
    include partials/_google_analytics.html
    
  body
    include partials/_header
            
    block content
      
    include partials/_footer
