doctype html
html
  head
    meta(charset="utf-8")
    meta(name="author" content="Claude Tech")
    meta(name="description" content="Keep it simple in a complex world.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Home | Claude Tech
    link(rel="canonical" href="http://claudetech.com")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/normalize.min.css")
    link(rel="stylesheet" href="//fontastic.s3.amazonaws.com/Tyshke6fpYrDo5vx5x85Wg/icons.css")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,700")
    link(rel="stylesheet" href="css/main.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/modernizr.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/jquery.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.dropdown.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js")
    script(src="js/app.js")
  body
    block content
