extends ./layout.jade

block content
  include partials/_header
  
  main._services
    ._page-header: .column.small-12.text-center
      h1(data-t) services.label

    .row.introduction
      .column.small-9.small-centered
        p.text-center.intro(data-t) services.introduction1
        p.text-center.intro(data-t) services.introduction2
        
    .row.items: .column.small-12
      h3(data-t) services.webservice.label
      p(data-t) services.webservice.value
      .column.medium-7
        dl
          dt: a(href="http://voisee.jp") Voisee
          dd(data-t) services.webservices.voisee.description
          dt: a(href="http://coocreed.jp") CooCREED
          dd(data-t) services.webservices.coocreed.description
      .column.medium-5
        figure
          img(src="img/services/voisee.png")
          figcaption(data-t) services.webservice.voisee.dashboard
        
      
      .row.item: .column.small-12
        h3(data-t) services.consulting.label
        p(data-t) services.consulting.value
        dl
          dt
            i.icon-web
            span(data-t) services.consulting.web-consulting.title
          dd(data-t) services.consulting.web-consulting.description
          dt
            i.icon-data
            span(data-t) services.consulting.data-consulting.title
          dd(data-t) services.consulting.data-consulting.description
      
      .row.item: .column.small-12
        h3(data-t) services.opensource.label
        p(data-t) services.opensource.value
        dl
          dt: a(href="http://leaves.claudetech.com/") Leaves
          dd(data-t) services.opensource.leaves.description
    
      
  include partials/_footer
