footer
  background #303C40
  padding 1em 4em
  min-height 5em
  .logo
    opacity 0.6
    height 3.6em
    float left
  ._social
    margin 0
    float right
    display inline-block
    a
      color #aaa
      font-size 1.4rem
      line-height 3.4rem
      transition color 0.3s
      &:hover
        color lightblue
  @media screen and (max-width: 40em)
    text-align center
    .logo
      float none
    ._social
      float none
