shorten-header()
  padding-top 0.5em
  padding-bottom 0.5em
  background rgba(0,0,0,0.5)
  .img
    height 2em
  .text
    display none
  ._menu li
    margin-top 0

header
  absolute fixed 0
  padding 2em 4em
  size 100% 3em
  transition all 0.5s
  z-index 10
  .logo
    height 3em
    transition all 0.5s
  ._menu
    margin-bottom 0
    li
      margin 0.5em 0 0 2em
      font-size 1.2em
      font-weight bold
      position relative
      display inline-block
    a.decorated
      color white
      &:before, &:after
        border 1px solid rgba(#fff, 0)
        content " "
        display block
        margin 0 auto
        width 0
      &:hover:before, &:hover:after
        border-color #fff
        transition width 0.1s ease-out
        width 100%

    .icon-globe
      color white
      relative top 4px

    .dropdown
      margin 0
      padding 0 0 1em 2em
      ul
        transition all 0.1s ease-out
        opacity 0
        display none
        background white
        list-style-type none
        border-radius 0.3em
        absolute top 2.5em right -1em
        &:before
          size 0 0
          border-left 0.5em solid transparent
          border-right 0.5em solid transparent
          border-bottom 0.5em solid white
          content ''
          absolute top -0.5em right 1.1em
        li
          margin 0
          padding 0
          + li:last-child
            border-top 1px solid #eee
        a
          display block
          font-size 0.8em
          padding 0.5em 1.6em
          font-weight normal
          size 100% 100%
      &:hover ul
        display inline-block
        opacity 1
        li:hover a
          color #222


  &.scrolled
    shorten-header()

  @media only screen and (max-width: 40em)
    shorten-header()
    padding 0.5em 2em
    .logo.text
      display none
    ._menu li
      font-size 0.9em
      margin 0 0 0 1em

  @media only screen and (min-width: 40em) and (max-width: 50em)
    ._menu li
      font-size 0.9em
      margin 0.7em 0 0 1em
