._top
  .hero
    background url(../img/back-blue.jpg) center 0 / cover no-repeat fixed;
    height 100vh
    max-height 860px
    display flex
    justify-content center
    img
      max-width 70%
      width 500px

  .news
    .date
      text-align right

  @media screen and (max-width: 40em)
    .news
      dd
        margin-bottom 2em

      .date
        text-align left
